<!Doctype>
<header class="xentha-header mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <img src="assets/images/xentha_logo.png" class="navbar-image"/>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav *ngIf="room" class="mdl-navigation">
      <!-- <a class="mdl-navigation__link" [routerLink]="['/']">HOME</a> -->
      <!-- <a class="mdl-navigation__link" [routerLink]="['/games']">PLAY</a> -->
      <!-- <a class="mdl-navigation__link" [routerLink]="['/docs']">DOCS</a> -->
      <!-- <a class="mdl-navigation__link" [hidden]="authService.getUser()" [routerLink]="['/login']">LOGIN/REGISTER</a> -->

      <span *ngIf="room.players" class="mdl-navigation__link">
          <i class="material-icons">face</i>
          <strong>{{room.players.length}}</strong>
      </span>
      <span *ngIf="room.roomCode" class="mdl-navigation__link">
          <i class="material-icons">room</i>
          <strong>{{room.roomCode}}</strong>
      </span>
      <a class="mdl-navigation__link" (click)="fullscreen()">FULLSCREEN</a>
    </nav>
  </div>
</header>
