<header class="xentha-header mdl-layout__header mdl-color--blue-grey">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title"></span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation">
      <!-- <a class="mdl-navigation__link" [routerLink]="['/']">HOME</a> -->
      <!-- <a class="mdl-navigation__link" [routerLink]="['/games']">PLAY</a> -->
      <!-- <a class="mdl-navigation__link" [routerLink]="['/docs']">DOCS</a> -->
      <!-- <a class="mdl-navigation__link" [hidden]="authService.getUser()" [routerLink]="['/login']">LOGIN/REGISTER</a> -->
      <span class="mdl-navigation__link"></span>
      <a class="mdl-navigation__link" (click)="fullscreen()">FULLSCREEN</a>
    </nav>
  </div>
</header>
