node_modules/*
documentation/build/*
api/node_modules/*
api/config/config.json
client/node_modules/*
site/node_modules/*
client/bower_components/*
site/bower_components/*
old_site/*
site/node_modules/*
site/dist/*
