body {
  /*3a7bd5*/
  background-color: #3b3b3b;
  background-size: 100% auto;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0; }

.text-center {
  text-align: center; }

h1, h2, h3, p, pre, span {
  color: #fff; }

.component-padding {
  padding: 45px 15px 15px; }

.input-padding {
  padding-bottom: 15px; }

.component-block-margin {
  margin-bottom: 15px; }

.xinput {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  text-align: center;
  border: none;
  width: 100%;
  border-bottom: 1px solid #757575;
  background: transparent; }

.xinput:focus {
  outline: none;
  border-bottom: 1px solid #fff;
  color: #fff; }

label {
  color: #fff; }

@media screen and (min-width: 600px) {
  .formWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    width: 20em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); } }

.formWrapper {
  padding: 2em; }

.margin-top {
  margin-top: 0.5em; }

/** material design button **/
.mbtn {
  position: relative;
  display: block;
  margin: 30px auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color .3s; }

.mbtn:hover, .mbtn:focus {
  background-color: #27ae60; }

.mbtn > * {
  position: relative; }

.mbtn span {
  display: block;
  padding: 12px 24px; }

.mbtn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.mbtn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out; }

.mbtn.orange {
  background-color: #e67e22; }

.mbtn.orange:hover, .mbtn.orange:focus {
  background-color: #d35400; }

/** navigation bar **/
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

/* Float the list items side by side */
ul.topnav li {
  float: left; }

/* Style the links inside the list items */
ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px; }

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
  display: none; }

ul.topnav li a:hover:not(.active) {
  border-bottom: 1px solid #fff; }

ul.topnav li a.active {
  background-color: #eee; }

@media screen and (max-width: 680px) {
  ul.topnav li:not(:first-child) {
    display: none; }
  ul.topnav li.icon {
    float: right;
    display: inline-block; }
  ul.topnav li {
    transition: visibility 0s, opacity 0.5s linear; } }

@media screen and (max-width: 680px) {
  ul.topnav.responsive {
    position: relative; }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0; }
  ul.topnav.responsive li {
    float: none;
    display: inline; }
  ul.topnav.responsive li a {
    display: block;
    text-align: center; } }

#home > .description {
  position: relative;
  width: 100%;
  height: 40%;
  text-align: center;
  background: #000; }

.center-div {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  margin-top: -1.5em;
  color: #fff; }

#home > .keypad {
  position: relative;
  height: 60%;
  padding: 1em; }

#home > .keypad > #display {
  display: block;
  height: 50px;
  background: #1f1f1f;
  border: 1px solid #3b3b3b;
  color: #fff;
  text-align: center;
  font-size: 200%; }

#home > .keypad > .key {
  display: inline-block;
  padding: .5em .5em .5em .5em;
  width: 78px;
  margin: 5px;
  text-align: center;
  background: #1f1f1f;
  border: 1px solid #3b3b3b;
  color: #fff;
  cursor: pointer; }

#controller > .profile {
  position: relative;
  width: 100%;
  height: 40%;
  text-align: center; }

#controller > .controls-container {
  position: relative;
  height: 60%;
  background: #1f1f1f;
  padding: 2em; }

#controller > .controls-container > .controls {
  background: transparent url("../img/gamepad.png") no-repeat;
  height: 100%;
  background-size: 100%;
  cursor: hand;
  cursor: pointer; }

#controller > .controls-container > .controls > .center {
  position: absolute;
  top: 22%;
  left: 28%;
  width: 44%;
  height: 35%;
  border-radius: 99px;
  border: 1px; }

#controller > .controls-container > .controls > .center > span {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase; }

#controller > .controls-container > .controls > .left {
  position: absolute;
  top: 22%;
  left: 7%;
  width: 21%;
  height: 35%; }

#controller > .controls-container > .controls > .right {
  position: absolute;
  top: 22%;
  left: 72%;
  width: 21%;
  height: 35%; }

#controller > .controls-container > .controls > .up {
  position: absolute;
  top: 7%;
  left: 28%;
  width: 44%;
  height: 18%; }

#controller > .controls-container > .controls > .down {
  position: absolute;
  top: 57%;
  left: 28%;
  width: 44%;
  height: 18%; }

#game {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; }

#menu {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  padding: 5px;
  background: #3b3b3b; }

#menu > .menu-button {
  display: block;
  padding: 3em;
  background: #1f1f1f;
  border: 1px solid #3b3b3b;
  text-align: center;
  color: #fff;
  width: 100%; }

.menu-toggle {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #fff;
  z-index: 50;
  text-decoration: none; }

#errorBar {
  height: 40px;
  left: 0;
  right: 0;
  display: none;
  bottom: 0;
  position: absolute;
  text-align: center; }

.info-notification {
  color: #fff;
  background: #55acee; }

.error-notification {
  background: #dd4b39;
  color: #fff; }

.success-notification {
  background: #00933B;
  color: #fff; }
