doctype html
html
  head
    title xentha - local gaming
    link(rel='xentha', href='/img/xentha-logo-48x48.png', type='image/x-icon')
    block scripts
  body
    block content
      h1 Welcome to the Xentha API - local gaming.
