@media screen and (min-device-width: 1200px) {
  .login-form-div {
    margin: 0 auto;
    width: 400px;
    margin-top: 10em;
    margin-bottom: 10em;
  }
}

.login-form-div{
	background: #fff;
}
.form-column{
  padding: 20px 35px !important;
}
.cell_con{
	background: #fff;
	padding-left: 20px;
}
.cell_con div{
	width: 87%;
}
.links{
	margin: auto;
	text-align: center;
}
.btn{
  margin:auto;
  width:100%;
}

.login-form-div h3 {
  text-align: center;
}
