<section class=" mdl-color--white-10">
  <div class="login-form-div mdl-shadow--2dp">
    <p *ngIf="user">You are already logged in.</p>
    <tabs *ngIf="!user">
      <tab [tabTitle]="'Login'">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col cell_con">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" [(ngModel)]="data.username" id="username">
              <label class="mdl-textfield__label" for="username">Username</label>
              <span class="mdl-textfield__error">Invalid username...!</span>
                </div>
          </div>
          <div class="mdl-cell mdl-cell--12-col cell_con">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" [(ngModel)]="data.password" id="password">
              <label class="mdl-textfield__label" for="password">Password</label>
                </div>
          </div>
          <div class="mdl-cell mdl-cell--12-col  login-btn-con">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary btn" (click)="login(data)">Login</button>
          </div>
          <!-- <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet links">
            <a class="mdl-button--primary">Forgot password ?</a>
          </div> -->
        </div>
      </tab>
      <tab tabTitle="Register">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col cell_con">
        		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        			<input class="mdl-textfield__input" type="text" [(ngModel)]="data.username" id="username">
        			<label class="mdl-textfield__label" for="username">Username</label>
            </div>
        	</div>
          <div class="mdl-cell mdl-cell--12-col cell_con">
        		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        			<input class="mdl-textfield__input" type="text" [(ngModel)]="data.firstname" id="firstname">
        			<label class="mdl-textfield__label" for="password">Firstname</label>
            </div>
        	</div>
          <div class="mdl-cell mdl-cell--12-col cell_con">
        		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        			<input class="mdl-textfield__input" type="text" [(ngModel)]="data.lastname" id="lastname">
        			<label class="mdl-textfield__label" for="password">Lastname</label>
            </div>
        	</div>
        	<div class="mdl-cell mdl-cell--12-col cell_con">
        		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        			<input class="mdl-textfield__input" type="text" [(ngModel)]="data.password" id="password">
        			<label class="mdl-textfield__label" for="password">Password</label>
            </div>
        	</div>
        	<div class="mdl-cell mdl-cell--12-col  login-btn-con">
        		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary btn" (click)="register(data)">Register</button>
        	</div>
        	<!-- <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet links" (click)="forgotPassword()">
        		<a class="mdl-button--primary">Forgot password ?</a>
        	</div> -->
        </div>
      </tab>
    </tabs>
  </div>
</section>
