.xentha-layout {

    background: linear-gradient(left, #2989d8 0%, #0f294f 0%, #18457c 52%, #0f294f 100%, #000000 100%); /* FF3.6-15 */
    color: #fff;
}

.mdl-layout__content {
  padding-bottom: 10em;
  margin-left: 5em;
  margin-right: 5em;
}

.xentha-layout > header {
  z-index: 100;
}
.xentha-layout > drawer {
  padding-top:64px;
}
