<div class="xentha-layout mdl-layout mdl-js-layout mdl-layout--fixed-header" #screen [ngClass]="{'': user, '': !user}">
    <navbar (fullscreen)="toggleFullscreen($event);" [(room)]="room"></navbar>
    <!-- <drawer [user]="authService.getUser()" class="mdl-layout__drawer mdl-color--white mdl-color-text--blue-grey-50"></drawer> -->
    <main class="mdl-layout__content">
        <!-- Router Outlet -->
        <router-outlet></router-outlet>
    </main>
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">(c) Xentha 2016</div>
        </div>
    </footer>
    <div #toast class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
</div>
