<div class="xentha-layout mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer" [ngClass]="{'': user, '': !user}">
  <header class="xentha-header mdl-layout__header mdl-color--blue-grey-50
  ">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" [routerLink]="['/']">HOME</a>
        <a class="mdl-navigation__link" [routerLink]="['/games']">PLAY</a>
        <a class="mdl-navigation__link" [routerLink]="['/docs']">DOCS</a>
        <a class="mdl-navigation__link" [hidden]="authService.getUser()" [routerLink]="['/login']">LOGIN/REGISTER</a>
        <a class="mdl-navigation__link" [hidden]="!authService.getUser()" (click)="logout()">LOGOUT</a>
      </nav>
    </div>
  </header>
  <drawer [user]="authService.getUser()" class="mdl-layout__drawer mdl-color--white mdl-color-text--blue-grey-50"></drawer>
  <main class="mdl-layout__content">
    <!-- Router Outlet -->
    <router-outlet></router-outlet>
  </main>
  <footer class="mdl-mega-footer">
    <div class="mdl-mega-footer__middle-section">

      <div class="mdl-mega-footer__drop-down-section">
        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
        <h1 class="mdl-mega-footer__heading">Features</h1>
        <ul class="mdl-mega-footer__link-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Play</a></li>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Login/Register</a></li>
        </ul>
      </div>

      <div class="mdl-mega-footer__drop-down-section">
        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
        <h1 class="mdl-mega-footer__heading">Details</h1>
        <ul class="mdl-mega-footer__link-list">
          <li><a href="#">Specs</a></li>
          <li><a href="#">Tools</a></li>
          <li><a href="#">Resources</a></li>
        </ul>
      </div>

      <div class="mdl-mega-footer__drop-down-section">
        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
        <h1 class="mdl-mega-footer__heading">Technology</h1>
        <ul class="mdl-mega-footer__link-list">
          <li><a href="#">How it works</a></li>
          <li><a href="#">Patterns</a></li>
          <li><a href="#">Usage</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Contracts</a></li>
        </ul>
      </div>

      <div class="mdl-mega-footer__drop-down-section">
        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
        <h1 class="mdl-mega-footer__heading">FAQ</h1>
        <ul class="mdl-mega-footer__link-list">
          <li><a href="#">Questions</a></li>
          <li><a href="#">Answers</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>

    </div>

    <div class="mdl-mega-footer__bottom-section">
      <div class="mdl-logo">Title</div>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy & Terms</a></li>
      </ul>
    </div>

  </footer>
  <div #xenthaSnackbar class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
</div>
