doctype html
html
  head
    title xentha - local gaming
    link(rel='xentha', href='/img/xentha-logo-48x48.png', type='image/x-icon')
    script(src="/socket.io/socket.io.js")
    script(src="/js/client-connection.js")
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")

    block scripts
  body
    block content
