<section class="section--center layout-padding">
  <div class="mdl-grid instructions">
    <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--12-col-phone">
      <i class="material-icons">people</i>
    </div>

    <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--12-col-phone">
      <i class="material-icons">add</i>
    </div>

    <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--12-col-phone">
      <i class="material-icons">videogame_asset</i>
    </div>

    <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--12-col-phone">
      <i class="material-icons">keyboard_arrow_right</i>
    </div>

    <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--12-col-phone">
      <i class="material-icons">check</i>
    </div>
  </div>
  <div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <h3>Xentha</h3>
      <p>Welcome to the new local gaming platform. Xentha provides platform for local games. Look at our games section to find just the games you want to play right now.</p>

      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        Start exploring
      </button>


      <h3>Open Source</h3>
      <p>We try to be as open as possible. All our code is on <a href="https://github.com/bdekk/xentha">github</a>. Next to that, we have a slack channel where developers are waiting for you to give you help in creating your own games.</p>

      <h3>Developers wanted!</h3>
      <p>Would you also like to develop a game? Or would you rather help us improve our API and support all those game developers out there? Feel free to browse through our developer documentation and API documentation.</p>
      <div class="text-center">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-orange btn-outline-inverse btn-lg">I want to develop <strong>GAMES</strong></button>
          <button type="button" class="btn btn-orange btn-outline-inverse btn-lg">I want to help with the <strong>API</strong></button>
        </div>
      </div>
    </div>
  </div>
</section>
