<section class="">
  <div class="center-text mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--4-col">
      <h4>1. Create a session</h4>
      <p></p>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <h4>2. Select the games</h4>
      <p></p>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <h4>3. Play</h4>
      <p></p>
    </div>
  </div>
  <div class="start-button">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-color--blue-grey mdl-color-text--white">
      <i class="material-icons" (click)="start()">play arrow</i>
    </button>
  </div>
</section>
