.start-button i {
  font-size: 500%;
  color: #fff;
}

.section--center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.start-button {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.start-button > button {
background-color: #F44336;
  width: 20em;
  height: 10em;
}
