<!-- <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50" aria-hidden="true"> -->
<header class="demo-drawer-header">
  <div *ngIf="user" class="mdl-grid">
    <img src="/images/default_profile.png" class="demo-avatar mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-phone">
    <span  class="mdl-color-text--blue-grey-400 mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col-phone">{{user.firstname}} {{user.lastname}}</span>
  </div>
</header>
<nav class="demo-navigation mdl-navigation">
  <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>My Profile</a>
  <a [routerLink]="['/mygames']" class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">videogame_asset</i>My Games</a>
  <!-- <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Social</a> -->
  <div class="mdl-layout-spacer"></div>
  <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i>Support</a>
</nav>
<!-- </div> -->
