<section>
    <div class="mdl-grid">
        <div *ngFor="let game of games; let i = index" class="mdl-cell mdl-cell--4-col" style="position:relative;" [ngClass]="{'selected': selected == i}">
            <i style="display: none;" class="material-icons">done</i>
            <div [ngStyle]="{'background': 'url(' + constants.url + game.image + ') no-repeat #46B6AC'}" class="mdl-card game-card  mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">{{game.name}}</h2>
                </div>
                <div class="mdl-card__supporting-text">{{game.description}}</div>
            </div>
        </div>
    </div>
</section>
