.game-card.mdl-card {
  /*width: 320px;
  height: 320px;*/

  width: 100%;
  margin:0;
  background-size: cover !important;
}

.mdl-grid {
    padding:0;
}



.selected {
    border: 5px solid palegoldenrod;
}

.selected i {
    font-size: 400%;
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    color: palegoldenrod;
    display: inline !important;
}

.game-card > .mdl-card__title {
  color: #fff;
  margin-left:0;
}


.text-center {
  text-align: center;
}
